body{
    background-color: rgb(145, 170, 193);
}
h1{
    text-align: center;
    font-style: italic;
}
.wrapper{
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}
.top{
    display: flex;
    width: 90%;
    height: 47.5vh;
    margin-left: 5%;
    margin-right: 5%;
}
.bottom{
    display: flex;
    width: 90%;
    height: 47.5vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.A1{
    width: 47.5%;
    height: 100%;
}
.A2{
    width: 47.5%;
    height: 100%;
    margin-left: 5%;
}
.B1{
    width: 30%;
    height: 100%;
}
.B2{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
.B3{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}