body{
    background-color: rgb(145, 170, 193);
}
h1{
    text-align: center;
    font-style: italic;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
}
.First{
    width: 45%;
    height: 100vh;
}
.Second{
    width: 45%;
    height: 100vh;
    margin-left: 10%;
    justify-content: center;
}